<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.first_name }} {{ student.last_name }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<img src="/images/oxy_seal.jpg">
    <p id="nameOfStudent">{{ student.first_name }} {{ student.last_name }}</p>
    <p id="email'"><b>Email: {{ student.username }}@oxy.edu</b></p>
    <p id="majors"><b>Majors: {{ student.majors }}</b></p>
    <p id="advisor"><b>Advisor: {{ student.advisor }}</b></p>
    <p>
        <a href="/directory/{{ prev_student.username }}">Previous</a>
        <a href="/directory/{{ next_student.username }}">Next</a>
    </p>
</body>
</html>
